.accordion {
  width: 100%;

  &__item {
    border-top: 1px solid #dde8f0;
  }

  &__item:last-of-type {
    border-bottom: 1px solid #dde8f0;
  }

  &__item.active .accordion__content {
    display: block;
  }

  &__header {
    padding: 30px 10px 28px 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__header:hover {
    transform: translate3d(0, 5px, 0);
  }

  &__header::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid var(--color-blue-smoke);
    border-right: 2px solid var(--color-blue-smoke);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateX(-50%) rotate(45deg);
  }

  &__icon {
    margin-right: 5px;
  }

  &__title {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-blue-smoke);
    font-weight: bold;
    font-size: 16px;
  }

  &__title:hover,
  &__title:active {
    opacity: 0.8;
  }

  &__content {
    display: none;
    padding: 15px;
    font-size: 14px;
    color: var(--color-blue-smoke);
    font-weight: 300;
    font-style: italic;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    &__header {
      padding: 20px 10px 20px 10px;
    }

    &__title {
      font-size: 14px;
    }

    &__content {
      font-size: 12px;
    }
  }
}
