.top-menu {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 17px;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.logo {
  text-decoration: none;

  &_margin {
    margin-right: 277px;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 23px;
  }

  &__link::after {
    content: "";
    background: #dde8f0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &__link.active::after {
    display: none;
  }

  &__link.active {
    border-bottom: 1px solid #586a7c;
    opacity: 1;
  }

  &__link:hover {
    opacity: 1;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text-white);
    padding: 4px 0;
    opacity: 0.8;
  }
}

.info {
  display: flex;
  align-items: center;

  &_text {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: var(--color-text);
  }

  &_text:hover {
    opacity: 0.8;
  }
}

.language {
  display: flex;

  &__link {
    position: relative;
    margin-right: 32px;
    text-decoration: none;
  }

  &__link:last-of-type {
    margin-right: 0;
  }

  &__link::before {
    display: none;
  }

  &__link.active::before {
    content: "";
    background: #dde8f0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &_margin {
    margin-right: 58px;
  }
}

.logIn {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  &__btn:active {
    opacity: 0.8;
  }

  &_tablet {
    display: none;
  }
}

.phone {
  &__link {
    text-decoration: none;
  }

  &_margin {
    margin-right: 68px;
  }
}

@media screen and (max-width: 768px) {
  .phone {
    padding: 10px;
    border-top: 1px solid var(--color-text-white);
  }
  .top-menu {
    display: none;
  }
  .menu {
    margin: 20px;
    &__list {
      flex-direction: column;
      align-items: start;
    }

    &__link {
      color: var(--color-text-white);
      opacity: 1;
      border-bottom: none;
    }

    &__link:hover {
      opacity: 0.8;
    }

    &__link.active::after {
      display: block;
    }

    &__link.active {
      border-bottom: 1px solid var(--color-text-white);
      opacity: 0.8;
    }
  }

  .info_text {
    color: var(--color-text-white);
    font-size: 12px;
  }

  .language__link {
    margin-right: 15px;
  }

  .language__link.active::before {
    left: -10px;
    background: var(--color-text-white);
  }

  .logIn {
    &_mobile {
      padding: 10px;
      border-top: 1px solid var(--color-text-white);
      border-bottom: 1px solid var(--color-text-white);
    }

    &_tablet {
      display: block;
      position: absolute;
      right: 65px;
      top: 16px;
    }

    &_tablet-text {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .logIn {
    &_tablet {
      display: none;
    }
  }
}
