.global-header {
  background-color: var(--white-bg);
  height: var(--header-height);
  width: 100%;
}

.header-content {
  margin: 0 auto;
  max-width: 1440px;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .global-header {
    height: 180px;
  }

  .header-content {
    max-width: 620px;
  }
}

@media screen and (max-width: 375px) {
  .global-header {
    height: 60px;
  }

  .header-content {
    max-width: 375px;
  }

  .header-menu {
    flex-direction: column;
  }
}
