.global-header {
  background-color: var(--white-bg);
  min-height: var(--header-height);
  width: 100%;
}

.header-content {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
}

.bottom-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .global-header {
    height: 60px;
    min-height: auto;
  }

  .header-content {
    padding: 0;
  }
}
