.header-top-menu {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 17px;
  justify-content: space-between;

  &__icon {
    margin-right: 277px;
  }
}
.flex {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 23px;
  }

  &__link::after {
    content: "";
    background: #dde8f0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &__link.active::after {
    display: none;
  }

  &__link.active {
    border-bottom: 1px solid #586a7c;
    opacity: 1;
  }

  &__link:hover {
    opacity: 1;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--colot-text);
    border-bottom: 1px solid var(--color-text-white);
    padding: 4px 0;
    opacity: 0.8;
  }
}

.info {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
  }
  &__item:last-of-type {
    margin-left: 52px;
  }

  &__item:first-of-type {
    margin-right: 56px;
  }

  &_text {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: var(--colot-text);
  }

  &_text:hover {
    opacity: 0.8;
  }

  &__btn {
    outline: none;
    background: transparent;
    cursor: pointer;
    border: none;
  }
}

.language {
  display: flex;

  &__btn {
    position: relative;
    margin-right: 21px;
  }

  &__btn:last-of-type {
    margin-right: 0;
  }

  &__btn::before {
    display: none;
  }

  &__btn.active::before {
    content: "";
    background: #dde8f0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 1;
    transform: translateY(-50%);
  }
}

.logIn {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn:active {
    opacity: 0.8;
  }
}

.phone {
  &__link {
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  .header-top-menu {
    flex-direction: column;
    align-items: stretch;
    &__icon {
      margin-right: 30px;
    }
  }

  .menu {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header-top-menu {
    display: none;
  }
}
