:root {
  --white-bg: #ffffff;
  --green-color: #219653;
  --footer-height: 60px;
  --header-height: 150px;
  --page-width: 1522px;
  --page-width-table: 620px;
  --page-width-mobile: 350px;
  --colot-text: #33485d;
  --color-blue-smoke: #5c6d7d;
  --color-text-white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p,
figure {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.global-main {
  background: linear-gradient(
    180deg,
    var(--green-color) 1%,
    var(--white-bg) 99%
  );
  min-height: calc(100vh - 60px - 150px);
  padding-top: 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  :root {
    --page-width: var(--page-width-table);
  }
}

@media screen and (max-width: 375px) {
  :root {
    --page-width: var(--page-width-mobile);
  }
}
