.main-page {
  background: var(--white-bg);
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 20px 40px 0px 44px;
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 127px 30px 0px;

  &__left {
    width: 53%;
    margin-right: 29px;
  }

  &__right {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    padding: 20px;

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}
