.main-page {
  background: var(--white-bg);
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 20px 40px 0px 44px;
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 127px 30px 0px;
}

.left-section {
  width: 53%;
  margin-right: 29px;
}

.right-section {
  width: 47%;
}

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    padding: 10px;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main-page {
    padding: 20px 20px 0px 20px;
  }
}
