.main-page {
  background: var(--white-bg);
  max-width: var(--page-width);
  margin: 0 auto;
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 163px 30px 44px;

  &_left {
    width: 60%;
    margin-right: 16px;
  }

  &_right {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    padding: 20px;

    &_left {
      width: 100%;
    }

    &_right {
      width: 100%;
    }
  }
}
