.global-nav {
  position: relative;
  display: flex;
  margin-right: 15px;
  background: #ffbe48;
  border: 2px solid #ffbe48;
  border-radius: 10px 0 0 0;
  width: 375px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 22px 15px 17px;

  &__toggle {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__mobile-menu {
    background: var(--green-color);
    padding: 8px;
    width: 100%;
    display: none;
    position: relative;
  }

  &__toggle-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__toggle-close:hover,
  &__toggle-close:active {
    opacity: 0.8;
  }

  &__toggle-close::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    top: 50%;
    right: 50%;
    background: var(--white-bg);
    transform: translate(50%, 0) rotate(45deg);
  }

  &__toggle-close::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: calc(50% - 1px);
    right: 50%;
    background: var(--white-bg);
    transform: translate(50%, 0) rotate(-45deg);
  }

  &__title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 1px;
    margin-left: 20px;
    color: var(--color-text-white);
  }

  &__category-link {
    color: var(--color-text-white);
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid var(--color-text-white);
    padding-bottom: 4px;
  }

  &__category-link:hover,
  &__title:hover {
    opacity: 0.8;
  }

  &__open-window {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 8000;
    padding: 5px;
    background: var(--white-bg);
    box-shadow: 5px 5px 5px #e5e5e5;
    height: 569px;
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.4s;
    transform-origin: top;
    transform: scaleY(0);
  }

  &__list {
    width: 100%;
  }

  &__item {
    width: 100%;
    transition: opacity 0.3s 0.1s;
    list-style: none;
  }

  &__link {
    padding-left: 10px;
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    color: var(--color-blue-smoke);
  }

  &__link::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-bottom: 2px solid var(--color-text);
    border-right: 2px solid var(--color-text);
    position: absolute;
    top: 50%;
    right: 22px;
    z-index: 200;
    transform: translateY(-50%) rotate(-45deg);
    opacity: 0.5;
  }

  &__link:hover {
    background-color: #dde8f0;
    transition: background-color 0.4s ease 0s;
    color: var(--color-text);
    border-radius: 10px;
  }

  &__link:hover::before {
    opacity: 1;
  }
}

.flex-box {
  display: none;
}

.global-nav_opened .global-nav__open-window {
  transform: scaleY(1);
}

@media screen and (max-width: 768px) {
  .flex-box {
    display: flex;
  }
  .global-nav {
    width: 100vw;
    height: 60px;
    z-index: 5000;
    padding: 15px 25px;
    border-radius: 0;
    margin-right: 0;
    &__mobile-menu {
      display: block;
    }

    &__title {
      display: none;
    }

    &__category-link {
      display: none;
    }

    &__toggle {
      left: 15px;
    }

    &__open-window {
      top: 0;
      transform-origin: left;
      transform: scaleX(0);
      width: 60%;
      border-radius: 0;
      height: auto;
    }

    &__link {
      font-size: 12px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-bottom: 4px;
    }

    &__list {
      margin: 20px 0;
    }
  }

  .navigation_fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation: fixedMenu 1s forwards;
  }

  .global-nav_opened .global-nav__open-window {
    transform: scaleX(1);
  }

  .language_mobile {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

@media screen and (max-width: 414px) {
  .global-nav {
    &__open-window {
      width: 100%;
    }
  }
}
