.phone-field {
  width: 100%;
  background: #0d4128;
  height: 200px;
  padding-top: 33px;
  padding-bottom: 51px;
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 30px;
    line-height: 120%;
    color: var(--color-text-white);
  }

  &__form {
    margin-top: 20px;
    background: var(--white-bg);
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid var(--white-bg);
  }

  &__input {
    width: 371px;
    height: 100%;
    background: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 6px 164px 6px 19px;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-text);
    opacity: 0.7;
  }

  &__input:hover,
  &__input:active {
    background: #dde8f0;
  }

  &__send-btn {
    width: 213px;
    height: 100%;
    background: #ffa800;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text-white);
    cursor: pointer;
    outline: none;
    border: none;
  }

  &__send-btn:hover,
  &__send-btn:active {
    background: #dba841;
  }
}

@media screen and (max-width: 768px) {
  .phone-field {
    padding: 40px;

    &__text {
      text-align: center;
      font-size: 18px;
    }

    &__form {
      height: 40px;
    }

    &__input {
      width: 250px;
    }

    &__send-btn {
      width: 100px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 414px) {
  .phone-field {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 150px;

    &__text {
      font-size: 12px;
    }

    &__form {
      height: 40px;
    }

    &__input {
      width: 180px;
    }

    &__send-btn {
      width: 70px;
      font-size: 10px;
    }
  }
}
