.product {
  position: relative;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {
    width: 19%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--green-color);
    border-radius: 3px;
    margin-top: 15px;
  }

  &__item:hover {
    transform: translate3d(5px, -5px, 0);
  }

  &__link {
    text-decoration: none;
  }

  &__top-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 6px 0 0;
  }

  &__top {
    padding-left: 21px;
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
    background: #2d9cdb;
    border-radius: 0 0 10px 0;
    font-size: 18px;
    color: var(--color-text-white);
  }

  &__item:nth-of-type(4) &__top {
    background: transparent;
  }

  &__item:nth-of-type(2) &__top,
  &__item:nth-of-type(5) &__top {
    background: #bb6bd9;
  }

  &__like {
    margin-top: 10px;
  }

  &__img {
    width: 100%;
    padding: 14px 11px 0 11px;
  }

  &__number {
    color: var(--color-text);
  }

  &__info {
    padding: 0 20px;
  }

  &__group {
    font-size: 14px;
    line-height: 24px;
    color: var(--green-color);
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
  }

  &__price-box {
    display: flex;
    padding: 25px 18px 33px 22px;
    justify-content: space-between;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text);
  }

  &__star_margin {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1400px) {
  .product {
    &__in-stock {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    &__item {
      border: 2px solid #ecf7f1;
      margin-right: 20px;
      width: 48%;
    }

    &__item:hover {
      transform: none;
    }
    &__in-stock {
      display: block;
    }
  }
}

@media screen and (max-width: 375px) {
  .product {
    &__item {
      width: 100%;
      margin-right: 0;
    }

    &__img {
      margin: 0 auto;
      width: 80%;
      padding: 14px 11px 0 11px;
    }

    &__in-stock {
      display: none;
    }

    &__price-box {
      padding: 10px 22px;
    }

    &__price {
      font-size: 20px;
    }

    &__text {
      font-size: 12px;
    }
  }
}
