.reviews-section {
  width: 100%;
  margin: 83px 0 0 0;
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    color: var(--colot-text);
  }

  &__number {
    color: var(--green-color);
  }

  &__reviews-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    color: var(--colot-text);
    font-weight: 500;
    padding: 4px 0 4px 0;
    border-bottom: 1px solid #c3c5c5;
  }

  &__reviews-link:hover {
    opacity: 0.8;
  }

  &__reviews-btn {
    position: relative;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
  }

  &__reviews-btn::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid var(--color-blue-smoke);
    border-right: 2px solid var(--color-blue-smoke);
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 1;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.rew {
  width: 100%;
}

.reviews {
  &__content {
    display: none;
    border-bottom: 1px solid #dde8f0;
    padding-bottom: 5px;
    list-style: none;
    padding-right: 30px;
    padding-top: 25px;
  }

  &__name-flex {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: var(--colot-text);
    margin-right: 5px;
  }

  &__date {
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: var(--colot-text);
    margin-right: 18px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-blue-smoke);
    margin-top: 11px;
    margin-bottom: 34px;
  }

  &__btn-showmore {
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: var(--color-blue-smoke);
    font-size: 13px;
    line-height: 120%;
    outline: none;
    border: 1px solid #ffa800;
    border-radius: 10px 0 10px 0;
    width: 147px;
    height: 40px;
    margin-top: 25px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 375px) {
  .reviews-section {
    &__reviews-link {
      display: none;
    }

    &__reviews-btn {
      display: none;
    }
  }
}
