.reviews-section {
  width: 100%;
  margin: 83px 0 0 0;
  display: flex;
  flex-direction: column;
}
.reviews-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.rew {
  width: 100%;
}

.reviews {
  &__content {
    display: none;
    border-bottom: 1px solid #dde8f0;
    padding-bottom: 5px;
    list-style: none;
    padding-right: 30px;
    padding-top: 25px;
  }

  &__name-flex {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 200%;
    color: var(--color-text);
    margin-right: 5px;
  }

  &__date {
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: var(--color-text);
    margin-right: 18px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-blue-smoke);
    margin-top: 11px;
    margin-bottom: 34px;
  }

  &__btn-showmore {
    margin-top: 25px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-section {
    margin: 50px 0 0 0;
  }

  .reviews {
    margin-bottom: 25px;

    &__content {
      padding-top: 10px;
      padding-bottom: 0;
    }

    &__btn-showmore {
      margin: 0 auto;
    }

    &__name {
      font-size: 12px;
      margin-right: 5px;
    }

    &__date {
      font-size: 12px;
      margin-right: 18px;
    }

    &__description {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 375px) {
  .reviews-info {
    display: inline;
  }

  .reviews-section {
    margin: 30px 0 0 0;
  }

  .reviews {
    margin-bottom: 25px;

    &__name {
      font-size: 10px;
      line-height: normal;
      margin-right: 5px;
    }

    &__date {
      font-size: 10px;
      line-height: normal;
      margin-right: 18px;
    }

    &__description {
      font-size: 10px;
      line-height: normal;
    }
  }
}
