.searchIcon {
  width: 18px;
  height: 18px;
  fill: var(--color-text);
}

.wezom_logo {
  width: 114px;
  height: 41px;
  fill: var(--color-text);
}

.menuIcon {
  width: 25.5px;
  height: 19.5px;
}
.menuIcon:hover {
  opacity: 0.8;
}
.category {
  width: 34px;
  height: 34px;
  margin-right: 25px;
}
.icon-comparison,
.icon-favorites,
.icon-shop,
.icon-shop-white {
  width: 30px;
  height: 25px;
}

.icon-phone {
  width: 40px;
  height: 40px;
}

.icon-comparison,
.icon-favorites,
.icon-shop,
.icon-phone {
  fill: var(--color-text);
}

.icon-shop:active,
.icon-shop:focus {
  fill: var(--color-text-white);
}
.icon-comparison:active {
  fill: var(--color-text-white);
}
.icon-favorites:active {
  fill: var(--color-text-white);
}

.icon-shop-white {
  fill: var(--color-text-white);
}

.inStock {
  width: 18.75px;
  height: 18.75px;
  margin-right: 10px;
}

.fourStars- {
  width: 76px;
  height: 14px;
}

.oneStar {
  width: 16px;
  height: 14px;
}

.warranty {
  width: 18px;
  height: 20px;
}

.reviews__icon {
  width: 95px;
  height: 14px;
}

.logIn_icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 9px;
  fill: #ffbe48;
}
@media screen and (max-width: 768px) {
  .logIn_icon {
    fill: white;
  }

  .icon-shop {
    fill: white;
  }

  .searchIcon {
    width: 12px;
    height: 12px;
  }

  .wezom_logo {
    width: 80px;
    height: 50px;
    fill: var(--white-bg);
  }
  .category {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 414px) {
  .icon-phone {
    display: none;
  }

  .icon-comparison,
  .icon-favorites {
    width: 20px;
    height: 15px;
  }

  .reviews__icon {
    width: 75px;
    height: 10px;
  }
}
