.form-search__icon {
  width: 18px;
  height: 18px;
  fill: var(--color-text);
}

.logo__icon {
  width: 114px;
  height: 41px;
  fill: var(--color-text);
}

.global-nav__icon {
  width: 25.5px;
  height: 19.5px;
  flex-shrink: 0;
}
.global-nav__icon:hover {
  opacity: 0.8;
}

.category {
  width: 34px;
  height: 34px;
  margin-right: 25px;
}

.button__icon,
.icon-favorites {
  width: 30px;
  height: 25px;
}

.button__icon_size {
  width: 40px;
  height: 40px;
}

.button__icon,
.icon-favorites {
  fill: var(--color-text);
}

.button__icon_white {
  fill: var(--color-text-white);
}

.in-stock__icon {
  width: 18.75px;
  height: 18.75px;
  margin-right: 10px;
}

.four-stars-plus-one {
  width: 76px;
  height: 14px;
}

.one-star {
  width: 16px;
  height: 14px;
}

.accordion__icon {
  width: 18px;
  height: 20px;
}

.star__icon {
  width: 95px;
  height: 14px;
}

.log-in__btn-icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 9px;
  fill: #ffbe48;
}

@media screen and (max-width: 768px) {
  .log-in__btn-icon {
    fill: white;
  }

  .form-search__icon {
    width: 12px;
    height: 12px;
  }

  .logo__icon {
    width: 80px;
    height: 50px;
    fill: var(--white-bg);
  }

  .category {
    width: 20px;
    height: 20px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 580px) {
  .button__icon_size {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .button__icon {
    width: 20px;
    height: 15px;
  }

  .star__icon {
    width: 75px;
    height: 10px;
  }
}
