.searchIcon {
  width: 18px;
  height: 18px;
  fill: var(--colot-text);
}

.wezom_logo {
  width: 114px;
  height: 41px;
}

.menuIcon {
  width: 25.5px;
  height: 19.5px;
}
.menuIcon:hover {
  opacity: 0.8;
}
.category {
  width: 34px;
  height: 34px;
  margin-right: 25px;
}
.basket-box-icon-comparison,
.basket-box-icon-favorites,
.basket-box-icon-shop,
.basket-box-icon-shop-white {
  width: 30px;
  height: 25px;
}
.basket-box-icon-comparison,
.basket-box-icon-favorites,
.basket-box-icon-shop {
  fill: var(--colot-text);
}

.basket-box-icon-shop:active,
.basket-box-icon-shop:focus {
  fill: var(--color-text-white);
}
.basket-box-icon-comparison:active {
  fill: var(--color-text-white);
}
.basket-box-icon-favorites:active {
  fill: var(--color-text-white);
}

.basket-box-icon-shop-white {
  fill: var(--color-text-white);
}
.inStock {
  width: 18.75px;
  height: 18.75px;
  margin-right: 10px;
}

.fourStars- {
  width: 76px;
  height: 14px;
}

.oneStar {
  width: 16px;
  height: 14px;
}

.basket-box-icon-phone {
  width: 30px;
  height: 30px;
}

.warranty {
  width: 18px;
  height: 20px;
}

.reviews__icon {
  width: 95px;
  height: 14px;
}

.logIn_icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 9px;
}
